* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
}
form,
div {
  margin: auto;
  width: 80%;
  border: thin solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* justify-content: center;
  align-items: center; */
}

/* input[type=button],input[type=text] seçme şekli */
input {
  margin: 0.5rem;
}
header {
  height: 15vh;
  padding: 1.5rem 0;
}

ol li {
  margin: 0 2rem;
  /* color: black; */
}
img {
  width: 1rem;
  height: 1rem;
  margin: 0 0.25rem;
}
#listeTamamlananlar li {
  display: inline;
}
